@model AgendaMVC.Models.Contato
@{
    ViewData["Title"] = "Deletar";
}

<h1>Aviso: Tem certeza que deseja deletar?</h1>
<form method="post">
    <input type="hidden" name="Id" value="@ViewData["Id"]" />
    <input type="submit" asp-action="VoltarDeletar1" value="Sim" />
    <input type="submit" asp-action="Index" value="Não">
</form>